<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 
   <!--	##### spring Configuration start  #####	-->	 
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>
	
	<bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer">
	    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	    <property name="searchContextAttributes" value="true" />
	    <property name="contextOverride" value="true" />
	    <property name="ignoreResourceNotFound" value="true" />
	    <property name="locations">
	        <list>
					<value>classpath:com/zebra/batch/config/real_program.properties</value>
					<value>classpath:com/zebra/config/zebra-sqlmap-real.properties</value>
	        </list>
	    </property>
	</bean>		
	
	<bean id="log4jInitialization"	class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"> 
		<property name="targetClass"  value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>classpath:com/zebra/batch/config/batch_log4j.xml</value>
			</list>
		</property> 
	</bean>
	
	<context:component-scan base-package="com.zebra"/>

	<!-- 
	<bean id="tmallPropertyLoader" class="com.zebra">
		<constructor-arg  name="propertyFile" value="/resource/config/[$server_type]_program.properties" type="java.lang.String" />
	</bean>
	 -->

   <!--	##### datasource Configuration start  #####	-->	 
   
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"><value>${mysql.url}</value></property>
		<property name="username"><value>${mysql.username}</value></property>
		<property name="password"><value>${mysql.password}</value></property>
    </bean>
    
   
    
		<!-- 
	   <property name="poolPingQuery" value="select 1"/>
	   <property name="poolPingEnabled" value="true"/>
	   <property name="poolPingConnectionsNotUsedFor" value="5000"/>
	     -->


	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <property name="dataSource" ref="dataSource"/>
	  <property name="configLocation" value="classpath:com/zebra/config/SqlMapConfig.xml"/>
	</bean>



	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	  <constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="sqlSessionBatch" class="org.mybatis.spring.SqlSessionTemplate">
	  <constructor-arg index="0" ref="sqlSessionFactory" />
	  <constructor-arg index="1" value="BATCH" />
	</bean>

 <!--	##### ETC bean start  #####	-->	 
 


	<bean id="springBeanFactory" class="com.zebra.common.SpringBeanFactory"/>
	<bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.SimpleNativeJdbcExtractor" lazy-init="true" />

</beans>