<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


 <environments default="development">
  <environment id="development">
   <transactionManager type="JDBC"/>
   <dataSource type="POOLED">
   <!-- com.mysql.jdbc.Driver 로그를 보기 위해서  변경(net.sf.log4jdbc.DriverSpy)-->
   
    <property name="driver" value="net.sf.log4jdbc.DriverSpy"/>
    <property name="url" value="jdbc:log4jdbc:mysql://db.goreee.com:3306/goreee?characterEncoding=UTF8"/>
<!--  
 	<property name="driver" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://192.168.0.2:3306/goreee?characterEncoding=UTF8"/>
 -->   
    <property name="username" value="root"/>
    <property name="password" value="1234"/>
    <!--  일정시간  연결이 없을때  db서버에서 연결끊는걸 방지하기위해서 pool ping 설정을한다. -->
    <property name="poolPingQuery" value="select 1"/>
    <property name="poolPingEnabled" value="true"/>
    <property name="poolPingConnectionsNotUsedFor" value="1000"/>
           
           
   </dataSource>
  </environment>
 </environments>
 
  
 <mappers>

	<mapper resource="socialUp/service/common/mapper/common.xml" />
 	<mapper resource="socialUp/service/member/mapper/MemTbl.xml" />
 	<mapper resource="socialUp/service/content/mapper/ContentTitleTbl.xml" />
 	<mapper resource="socialUp/service/content/mapper/ContentSourceTbl.xml" />
 	<mapper resource="socialUp/service/content/mapper/contentCollect.xml"/>
	<mapper resource="socialUp/service/content/mapper/ContentBranch.xml"/>
	<mapper resource="socialUp/service/content/mapper/ContentDtlTbl.xml"/>
	<mapper resource="socialUp/service/content/mapper/ContentDtlComment.xml"/>

 </mappers>
 
</configuration>



